* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', arial;
  font-size: 16px;
  line-height: 1.5;
  background-color: #1F2937;
}

.box img {
  max-width: 150px;
  max-height: 150px;
  min-width: 150px;
  min-height: 150px;
  border-style: solid;
  border-color: #3882f6;
  border-radius: 8%;
  border-width: 5px;
}

.logo-text {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.hero-title {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero-text, .nav {
  font-size: 18px;
  color: #e5e7eb;
}

.navbar .container {
  height: 200px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin-left: 20px;
}


.nav a {
  color: #e5e7eb;
  text-decoration: none;
  font-weight: bolder;

}

.box p {
  color: #4b4d50;
}



.quote p {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}

.quote-section {
  background-color: #e5e7eb;
}

.boxes {
  background-color: #ffffff;
}

.call-to-action {
  background-color: #ffffff;
}

footer {
  color: #e5e7eb;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.header .container {
  height: 500px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.hero-image {
  height: 300px;
  width: 450px;
  padding: 10px;
}

.button {
	background: #3882f6;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Roboto', Arial;
	font-size:20px;
	padding:5px 30px;
	text-decoration:none;
  margin-top: 10px;
}
.button:hover {
	background-color:#3882f6;
}
.button:active {
	position:relative;
	top:1px;
}

.header .container div {
  width: 500px;
}

.boxes .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  height: 375px;
}

.img-box {
  display: flex;
  justify-content: center;
}

.boxes .container h2 {
  font-size: 36px;
  font-weight: bolder;
}

.box-container {
  width: 800px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.box p {
  font-weight: bold;
}

.quote-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 900px;
  height: 400px;
  color: rgb(109, 109, 109);
}

.quote p {
  color: rgb(109, 109, 109);
}

.quote-section .container h3 {
  display: flex;
  justify-content: end;
}

.call-to-action {
  height: 300px;
  display: flex;
  align-items: center;
}

.call-to-action .container {
  background-color: #3882f6;
  height: 150px;
  width: 950px;
  border-style: solid;
  border-color: #3882f6;
  border-radius: 10px;
  border-width: 4px;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button2 {
	background-color: #3882f6;
  border-color: white;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Roboto', Arial;
	font-size:20px;
	padding:5px 30px;
	text-decoration:none;
  margin-top: 10px;
  border: 2px solid #ffffff;
  max-height: 45px;
  
}
.button2:hover {
	background-color:#3882f6;
}
.button2:active {
	position:relative;
	top:1px;
}

h4 {
  font-size: 24px;
}

.call-to-action .container p {
  color: darkgrey;
}

.footer .container {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
